In [1]:
!pip install pandas

Requirement already satisfied: pandas in /opt/conda/envs/mlops-tut/lib/python3.9/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.22.4 in /opt/conda/envs/mlops-tut/lib/python3.9/site-packages (from pandas) (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/envs/mlops-tut/lib/python3.9/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/envs/mlops-tut/lib/python3.9/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/envs/mlops-tut/lib/python3.9/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /opt/conda/envs/mlops-tut/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.2.3'

In [4]:
!pip install pyarrow

Requirement already satisfied: pyarrow in /opt/conda/envs/mlops-tut/lib/python3.9/site-packages (19.0.1)

In [5]:
df  = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2025-01.parquet')

In [6]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,1,2025-01-01 00:18:38,2025-01-01 00:26:59,1.0,1.60,1.0,N,229,237,1,10.0,3.5,0.5,3.00,0.0,1.0,18.00,2.5,0.0
1,1,2025-01-01 00:32:40,2025-01-01 00:35:13,1.0,0.50,1.0,N,236,237,1,5.1,3.5,0.5,2.02,0.0,1.0,12.12,2.5,0.0
2,1,2025-01-01 00:44:04,2025-01-01 00:46:01,1.0,0.60,1.0,N,141,141,1,5.1,3.5,0.5,2.00,0.0,1.0,12.10,2.5,0.0
3,2,2025-01-01 00:14:27,2025-01-01 00:20:01,3.0,0.52,1.0,N,244,244,2,7.2,1.0,0.5,0.00,0.0,1.0,9.70,0.0,0.0
4,2,2025-01-01 00:21:34,2025-01-01 00:25:06,3.0,0.66,1.0,N,244,116,2,5.8,1.0,0.5,0.00,0.0,1.0,8.30,0.0,0.0

In [1]:
conda install scikit-learn

/opt/conda/lib/python3.12/site-packages/conda/base/context.py:202: FutureWarning: Adding 'defaults' to channel list implicitly is deprecated and will be removed in 25.3.

To remove this warning, please choose a default channel explicitly with conda's regular configuration system, e.g. by adding 'defaults' to the list of channels:

  conda config --add channels defaults

For more information see https://docs.conda.io/projects/conda/en/stable/user-guide/configuration/use-condarc.html

  deprecated.topic(
Channels:
 - defaults
Platform: linux-64
Collecting package metadata (repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
    current version: 25.1.1
    latest version: 25.3.0

Please update conda by running

    $ conda update -n base -c defaults conda



## Package Plan ##

  environment location: /opt/conda/envs/mlops-tut

  added / updated specs:
    - scikit-learn


The following NEW packages will be INSTALLED:

  blas               pkgs/main/linux-64::blas-1.0-mkl
  intel-openmp       pkgs/main/linux-64::intel-openmp-2023.1.0-hdb19cb5_46306
  joblib             pkgs/main/linux-64::joblib-1.4.2-py39h06a4308_0
  libgfortran-ng     pkgs/main/linux-64::libgfortran-ng-11.2.0-h00389a5_1
  libgfortran5       pkgs/main/linux-64::libgfortran5-11.2.0-h1234567_1
  mkl                pkgs/main/linux-64::mkl-2023.1.0-h213fc3f_46344
  mkl-service        pkgs/main/linux-64::mkl-service-2.4.0-py39h5eee18b_2
  mkl_fft            pkgs/main/linux-64::mkl_fft-1.3.11-py39h5eee18b_0
  mkl_random         pkgs/main/linux-64::mkl_random-1.2.8-py39h1128e8f_0
  numpy              pkgs/main/linux-64::numpy-2.0.1-py39h5f9d8c6_1
  numpy-base         pkgs/main/linux-64::numpy-base-2.0.1-py39hb5e798b_1
  pybind11-abi       pkgs/main/noarch::pybind11-abi-4-hd3eb1b0_1
  scikit-learn       pkgs/main/linux-64::scikit-learn-1.6.1-py39h6a678d5_0
  scipy              pkgs/main/linux-64::scipy-1.13.1-py39h5f9d8c6_1
  tbb                pkgs/main/linux-64::tbb-2021.8.0-hdb19cb5_0
  threadpoolctl      pkgs/main/linux-64::threadpoolctl-3.5.0-py39h2f386ee_0



Downloading and Extracting Packages:

Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [ ]:
import sklearn